<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go: Baboon</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/public/static/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/static/ico/favicon-16x16.png">
    <link rel="manifest" href="/public/static/ico/manifest.json">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="csrf_token" content="{{.CSRFToken}}">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                <div>
                    <img src="/public/static/images/gobaboon.jpg" class="mb-4" style="width: 125px;height:auto;">
                    <h1>Go: Baboon</h1>
                    <hr>
                    <small class="text-muted">Go build something bananas.</small>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>