{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <!-- ENTER YOUR CONTENT HERE -->
        <p>Hi,</p> 
        <p>This is a an example email.</p>
    </body>

    </html>
{{end}}